<h3>{{title | uppercase}}</h3>

<div *ngFor="let item of items">
    <div *ngIf="!item.checked" (click)="selectThisItem(item)">
        <input type="checkbox" [(ngModel)]="item.checked"> {{item.name}} : {{item.quantity}}
        <button (click)="removeItem(item)">Rimuovi</button>
    </div>
</div>

<hr>

<h3>Già Comprato</h3>

<div *ngFor="let item of items">
    <div *ngIf="item.checked" (click)="selectThisItem(item)">
        <input type="checkbox" [(ngModel)]="item.checked"> {{item.name}} : {{item.quantity}}
    </div>
</div>

<hr>

<div>
    <h2>Modifica</h2>
    <input type="text" [(ngModel)]="selectedItem.name"><br>
    <input type="number" [(ngModel)]="selectedItem.quantity">
</div>

<button (click)="addItem()">Add to list</button>